.cart
	color: #4f4e4e
.cart__table
	border-collapse: separate
	width: 100%
	margin-top: 30px 
	td
		text-align: center
		vertical-align: middle
.cart__head
	outline: 1px solid #e6e6e6
	td
		padding: 13px 2px
		line-height: 1.3
		+r(400)
			padding: 2px 
.cart__all-products
	+clr
	text-align: right
	margin-top: 16px 
	line-height: 44px
	height: 44px
	border: 1px solid #e6e6e6
	padding-left: 19px 
	+r(475)
		padding-left: 5px 
	&_left
		float: left
	&_center
		display: inline-block
		padding-right: 20px 
		+r(475)
			padding-right: 10px 
		span
			display: inline-block
			margin-left: 10px 
			+r(475)
				margin: 0 
	&_right
		float: right
		width: 200px 
		border-left: 1px solid #e6e6e6
		text-align: center
		+r(475)
			width: auto 
			padding: 0 5px 
		span
			display: inline-block
			margin: 0 15px
			+r(475)
				margin: 0
.cart__link
	display: inline-block
	color: #21973f
	font-family: Tahoma, sans-serif
	.fa
		margin-right: 8px 
	&:hover
		color: #21973f

.cart__buttons
	margin-top: 16px 
	+clr
.cart__btn
	float: right
	display: inline-block
	line-height: 40px 
	min-height: 40px 
	padding: 0
	margin-right: 18px 
	&:after
		border-width: 14px
		right: -13px 


.first-cell
	width: 84px
	+r(580)
		width: 60px 
.last-cell
	width: 67px 
	+r(580)
		width: 32px 
.product
	height: 122px 
	+r(800)
		height: 60px
	&__img
		position: relative
		img
			+vcenter
			max-width: 100%
			max-height: 100%  
	&__name
		color: #484747
		font-size: 16px
		+css-lock(14,16,480,600)
		font-weight: 700
	&__amount
		input
			text-align: center
			width: 71px
			height: 40px
			border: 1px solid #e6e6e6
			+placeholder-color(#484747)
			+r(500)
				width: 50px 
	&__close
		position: relative

	&__btn
		width: 32px
		height: 32px
		background-color: transparent
		border: none
		transition: 0.3s
		+vcenter
		.icon-close
			transition: 0.3s
			font-size: 11px 
			+vcenter
		&:hover, &:focus
			background-color: #21973f
			.icon-close
				fill: #fff 
	&__separ
		td
		background: #e6e6e6
		height: 1px  