$primary-color: #21973f
a
	text-decoration: none
body
  background: #FFF
  font-size: 14px 
  line-height: 1.4
  font-family: Roboto, sans-serif
.icon-arrow-right
	font-size: 9px
	margin-left: 7px 

.wrapper
	max-width: 1170px 
	margin: 0 auto 
	padding: 0 15px 
	+r(1025)
		padding: 0 5px 

.primary-button
	display: block
	padding: 10px 19px
	line-height: 1 
	margin: 10px auto 0
	border-radius: 10px 9px 9px 10px
	background-color: $primary-color
	color: #fefdfd
	font-family: Roboto
	font-size: 14px
	font-weight: 500
	&:hover
		box-shadow: inset 0 1px 3px 1px rgba(0,0,0,0.3)

.primary-arrow-btn
	position: relative
	min-width: 195px
	padding: 12px
	border-radius: 3px
	background-color: $primary-color
	color: #ffffff
	font-size: 16px
	font-weight: 500
	&:after
		content: ""
		display: block
		position: absolute
		top: 6px
		right: -14px 
		border: 15px solid $primary-color
		border-left-color: transparent
		border-bottom-color: transparent
		border-radius: 3px
		transform: rotate(45deg)

.primary-title
	position: relative
	padding-left: em(68,24)
	color: #3e3e3e
	font-size: 24px
	+css-lock(20,24,480,1140)
	font-weight: 400
	line-height: 1.7
	border-bottom: 1px solid #cdcdcd
	.fa
		position: absolute
		width: em(68,24)
		text-align: center
		top: 0
		left: 0 
		color: $primary-color
		font-size: 24px
		+css-lock(20,24,480,1140)
		font-weight: bold
		line-height: inherit

.primary-form
	width: 100% 

.primary-label
	display: block
	color: #4f4e4e
	font-size: 14px
	font-weight: 400

.primary-input, .primary-textarea
	width: 100%
	margin: 7px 0 15px
	padding: 7px 10px 
	border-radius: 3px 4px 4px 3px
	border: 1px solid #e6e6e6
	background-color: #f8f8f8
.primary-textarea
	border-radius: 9px






.slick-prev,
.slick-next 
	position: absolute
	z-index: 99 
	display: block
	height: 12px
	width: 12px
	line-height: 1
	font-size: 24px
	cursor: pointer
	background: transparent
	color: transparent
	top: 30%
	margin-top: -10px
	padding: 0
	border: 2px solid #000
	transform: rotate(45deg)
	&:hover, &:focus 
		opacity: 0.75 
	&:before
		display: none
.slick-disabled
	opacity: 0.25
.slick-prev
	left: 3px
	border-top-color: transparent
	border-right-color: transparent
.slick-next
	right: 3px
	border-bottom-color: transparent
	border-left-color: transparent