.header
	margin-bottom: 50px 
	+r(1025)
		margin-bottom: 20px 
	&__inner
		max-width: 1170px
		padding: 0 15px
		margin: 0 auto 
		+r(1025)
			padding: 0
	&__top
		+clr
	&__logo
		float: left
		margin: 20px 25px 20px 0
		+r(1005)
			margin: 20px 5px 20px 0
		+r(620)
			float: none
	&__telephone
		margin-left: 12px 
		float: left
		margin-top: 30px 
		+r(1005)
			display: none
	&__social-links
		float: left
		margin: 53px 105px 0 21px 
		font-size: 16px 
		+r(1100)
			margin: 53px 15px 0 21px 
		+r(1005)
			margin: 53px 10px 0 5px 
		+r(825)
			display: none
	&__social-link
		display: block
		font-size: 18px
		line-height: 18px 
		color: #000

	&__in
		float: left
		position: relative
		+clr

		+r(620)
			float: none
			max-width: 95%
			margin: 12px auto 0
	&__search
		margin-top: 29px
		+r(825)
			margin-top: 10px 
	&__login
		display: inline-block
		color: #4b4b4b
		font-family: "Open Sans"
		font-size: 14px
		font-weight: bold
		line-height: 18px
		margin: 13px 16px 10px 4px
		&:hover
			text-decoration: none
	&__shopping-cart
		float: right
		margin-top: 12px 
		+r(1025)
			margin-right: 5px 
		+r(825)
			margin: 5px
		+r(620)
			float: none
			position: absolute
			top: 0
			right: 0 
	&__info
		font-size: 30px
		+css-lock(20,30,480,1140)
		min-height: em(205,30)
		padding-top: 25px 
		background-color: $primary-color
		+cover
		padding-left: 100px
		+r(1080)
			padding-top: 0
			padding-left: 20px 
			min-height: em(150,30)
	&__title
		color: #ffffff
		font-size: 30px
		+css-lock(20,30,480,1140)
		font-weight: 500
		line-height: 2.15
		+r(620)
			line-height: 1.5 
		&:after
			content: ""
			display: block
			width: 135px 
			border-bottom: 1px solid #a7a7a7
	&__text
		color: #ffffff
		font-size: 18px
		+css-lock(14,18,480,1140)
		line-height: em(20,18)
		max-width: 405px 
		margin-top: 8px 
		+r(620)
			padding-bottom: 5px 

			
// ------------main-search------------
.main-search
	position: relative
	
.main-search__area
	width: 305px
	height: 35px
	padding: 11px 65px 11px 14px 
	border-radius: 3px 4px 4px 3px
	border: 1px solid #e6e6e6
	background-color: #f8f8f8
	+r(825)
		width: auto
	+r(620)
		width: 100% 
.main-search__btn
	width: 60px
	height: 35px
	font-size: 18px 
	border-radius: 3px 4px 4px 3px
	background-color: $primary-color
	position: absolute
	top: 0
	right: 0
	.fa 
		color: #fff

.telephone
	position: relative
	.icon-phone
		position: absolute
		left: 0
		top: 16px
		font-size: 25px 
		fill: #000
	&__number
		color: #494949
		font-size: 16px
		font-weight: 500
		line-height: 22px
		&:hover
			text-decoration: none

//--------------shopping-cart--------------
.shopping-cart
	width: 208px
	height: 88px
	padding: 10px 
	border-radius: 3px
	border: 2px solid $primary-color
	+r(825)
		width: 170px 
		height: auto
	+r(620)
		width: 150px 
		padding: 5px 5px 10px 
	&__line
		position: relative
		color: #333333
		line-height: 18px
		font-size: 14px
	&__text
		display: inline-block
		width: 101px
		border-bottom: 1px solid #f1efef
	&__quantity
		position: absolute
		left: 85px 
		display: inline-block
		font-size: 16px
		+r(825)
			top: 0
			left: auto
			right: 0  
	&__button
		position: relative
		display: block
		text-align: right
		margin-top: 13px 
		padding-right: 5px 
		color: $primary-color
		font-size: 16px
		font-weight: 700
		line-height: 18px
		+r(825)
			margin-top: 0
			top: 4px
			line-height: 1 
		.fa
			position: absolute
			left: 0
			color: #000
		&:hover
			text-decoration: none
//-----------------menu------------------
.menu
	box-shadow: 0 6px 25px 2px rgba(111, 110, 110, 0.13)
	border: 2px solid $primary-color
	font-size: 0
	padding: 0 10px

	&__item
		display: inline-block
		vertical-align: top
		&:first-child a
			color: $primary-color
			font-size: 24px 
			padding: 0 15px 
			line-height: 46px
			min-height: 46px 
	&__link
		display: block
		padding: 12px 15px 
		color: #4f4e4e
		font-size: 16px
		font-weight: 400
		background-repeat: no-repeat
		background-position: center
		&:hover, &:focus
			color: #4f4e4e
			font-weight: 500
			text-decoration: none

+r(1025)
	.menu
		padding: 0
		display: none
		position: absolute
		z-index: 10 
		width: 100% 
		background-color: #fff 
		&__item
			display: block
			text-align: center
		&__link
			&:hover, &:focus
				color: #fff
				font-weight: 500
				text-decoration: none
				background-color: $primary-color 


.menu-trigger
	display: none
	float: right
	position: relative
	top: -4px 
	+r(1025)
		display: inline-block

// plant-variety
.plant-variety
	width: 100% 
	box-shadow: 0 6px 8px 1px rgba(114, 114, 114, 0.19)
	border: 1px solid #c1c1c1
	background-color: #21973f
	+r(715)
		display: none
	&__list
		text-align: center
		padding: 0 10px 
	&__item
		display: inline-block
		&:not(:last-child):after
			content: "" 
			display: inline-block
			width: 1px
			height: 28px
			position: relative
			top: 7px 
			background-color: #dadada
	&__link
		display: inline-block
		padding: 0 34px
		color: #ffffff
		font-size: 16px
		+css-lock(14,16,480,1025)
		font-weight: 500
		line-height: 49px
		+r(1170)
			padding: 0 1em
		+r(875)
			padding: 0 10px 
		&:hover
			text-decoration: none

.logo
	+r(825)
		margin: 0 -20px 0 -35px 
	&__img
		max-width: 100%
		max-height: 100%  
		+r(825)
			+scale(0.7)
