.main
	position: relative
	+clr
	max-width: 1170px
	padding: 0 15px 
	margin: 47px auto 0
	+r(1080)
		padding: 0 5px
		margin: 10px auto 0
.content
	float: right
	margin-left: 10px 
	max-width: 846px
	+r(1080)
		max-width: 100%
		margin-left: 0 
		float: none
.choice
	border-top: 1px solid #e6e6e6
	border-bottom: 1px solid #e6e6e6
	padding: 12px 0
	+clr
	b
		font-weight: 500
	&__items
		font-size: 0 
		display: inline-block
		+r(820)
			display: block
			width: 100%
			margin-bottom: 20px  
	&__item
		font-size: 14px 
		margin: 0 
		margin-top: 6px
		margin-right: 6px 
		display: inline-block
		position: relative
		height: 30px
		border-radius: 20px
		padding: 0 40px 0 20px
		background-color: #f8f8f8
		color: #4f4e4e
		line-height: 30px
		background-image: url(../img/close.svg)
		background-repeat: no-repeat
		background-position: right 17px center
		&:hover
			cursor: pointer
			color: #4f4e4e
			opacity: 0.4
	&__about
		margin: 10px 0 7px
		float: right
		color: #333333
		line-height: 1.4
		+r(405)
			float: none
	&__show-items
		display: inline-block
	&__sort
		display: inline-block
		margin-left: 25px 
		+r(405)
			display: block
			margin-left: 0

.pagination
	display: block
	padding: 0
	margin: 40px 0 8px
	border-radius: 0
	vertical-align: baseline
	text-align: center
	&__item
		display: inline-block
		margin-right: 3px 
		width: 30px
		height: 30px
		border: 1px solid #e6e6e6
		background-color: #fcfcfc
		line-height: 30px
		text-align: center
		color: #626161
		font-size: 12px
		transition: 0.3s
		&.is-active
			color: #fefcfc
			background-color: #21973f
		&:hover
			text-decoration: none
			color: #fefcfc
			background-color: #21973f

	&__next
		position: relative
		margin-left: 9px 
		&:before
			content: ""
			display: inline-block
			position: relative
			top: -1px
			left: -2px
			width: 8px
			height: 8px
			transform: rotate(45deg)
			border-radius: 2px
			border: 1px solid #4f4e4e
			border-left-color: transparent
			border-bottom-color: transparent
		&:hover:before
			border: 2px solid #fefcfc
			border-left-color: transparent
			border-bottom-color: transparent
	&__prev
		position: relative
		margin-right: 11px 
		&:before
			content: ""
			display: inline-block
			position: relative
			top: -1px
			left: 2px
			width: 8px
			height: 8px
			border-radius: 2px
			border: 1px solid #4f4e4e
			transform: rotate(45deg)
			border-right-color: transparent
			border-top-color: transparent
		&:hover:before
			border: 2px solid #fefcfc
			border-right-color: transparent
			border-top-color: transparent

.icon-close
	font-size: 8px
	position: absolute
	top: 11px 
	right: 17px 
	

.sort
	display: inline-block
	border: none
