---
title: Agrus
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<!-- BEGIN choice -->
	<div class="choice">
		
		<!-- BEGIN show-items -->
		<div class="show-items">
			<b>Показано:</b> 1-9 из 135 товарів
		</div>
		<!-- END show-items -->
		<!-- BEGIN sort -->
		<div class="sort">
			<b>Сортувати:</b>   по новинкам 
		</div>
		<!-- END sort -->
	</div>
	<!-- END choice -->

	<!-- BEGIN plants -->
	<div class="plants">

	{% include "partials/_plants.html" %}
	{% include "partials/_plants.html" %}
	{% include "partials/_plants.html" %}


	</div>
	<!-- END plants -->


{% endblock %}
