---
title: Agrus registration
showCart: false
showMap: false
---
{% extends "layouts/_layout.html" %}

{% block content %}
		
		<!-- BEGIN registration -->
		<div class="registration">
			<!-- BEGIN wrapper -->
			<div class="wrapper">
				<h2 class="primary-title"><i class="fa fa-key" aria-hidden="true"></i>Реєстрація</h2>
				<!-- BEGIN registration__form -->
				<div class="registration__form">
					

						<form action="#" method="get" class="primary-form">
							<div class="registration__form-col">
								<label for="" class="primary-label">Прізвище <sup>*</sup>
									<input type="text" class="primary-input">
								</label>
								<label for="" class="primary-label">Ім’я <sup>*</sup>
									<input type="text" class="primary-input">
								</label>
								<label for="" class="primary-label">E-mail <sup>*</sup>
									<input type="email" class="primary-input">
								</label>
								<label for="" class="primary-label">Телефон <sup>*</sup>
									<input type="tel" class="primary-input" placeholder="+380">
								</label>
							</div>

							<div class="registration__form-col">
								<label for="" class="primary-label">Адреса
									<input type="text" class="primary-input">
								</label>
								<label for="" class="primary-label">Пароль <sup>*</sup>
									<input type="password" class="primary-input">
								</label>
								<label for="" class="primary-label">Повторити пароль <sup>*</sup>
									<input type="password" class="primary-input">
								</label>

								<button type="submit" class="primary-arrow-btn registration__submit">
Зареєструватися</button>
							</div>

						</form>

				</div>
				<!-- END registration__form -->

			</div>
			<!-- END wrapper -->

		</div>
		<!-- END registration -->

		{% include "partials/_recomended-products.html" %}

{% endblock %}
