---
title: Agrus textpage
showCart: false
showMap: false
---
{% extends "layouts/_layout.html" %}

{% block content %}
<!-- BEGIN textpage -->
<div class="textpage">
	<!-- BEGIN wrapper -->
	<div class="wrapper">
		<h2 class="primary-title"><i class="fa fa-truck" aria-hidden="true"></i></i>Оплата і доставка</h2>
		<!-- BEGIN textpage__about -->
		<div class="textpage__about">
			<div>
				<p>Розсадник КОРНЕЛІС заснований у 2002 році в с. Двірець Житомирсього району. Із декількох соток розширився до 25 гектарів. Розсадник розділений на дві частини: контейнерне поле — близько 3га, на якому розміщені торговий майданчик, теплиці, ангари, два житлові будинки та офіс; та власне поля для вирощування рослин в грунті. Для оптимізації робочого процесу й економії часу та коштів при розбудові розсадника створена зручна система доріг та розміщення контейнерів на полі.</p>
			</div>
			<div>
				<p>Для ефективного використання фізичної сили працівників залучено трактори, навантажувачі, бури для копки ям під рослини. Велика увага приділяється якості вирощеного матеріалу, а саме його підживленню, формовій обрізці та боротьбі з бур'янами та шкідниками. Заради останнього на великому полі проводиться просапування та культивація до 15 разів на кожен сезон.</p>
			</div>
			<div>
				<p>При пересадці в контейнери працівники розплідника кожен горщик з верху мульчують найдрібнішою корою, що не дає росту буря'нам в майбутньому, але пропускає вологу та утримує її в посушливих умовах , а також має презентабельний вигляд на полицях садових центрів.</p>
				<p>Для вирощування якісного матеріалу та його збуту необхідна стабільна команда спеціалістів, що люблять свою роботу. Саме тому в нас немає текучки кадрів. Кожен знає свою роботу, свої обов”язки та загальні цілі компанії. При пересадці в контейнери працівники розплідника кожен горщик з верху мульчують найдрібнішою корою, що не дає росту буря'нам в майбутньому, але пропускає вологу та утримує її в посушливих умовах , а також має презентабельний вигляд на полицях садових центрів.</p>
				<p>Для вирощування якісного матеріалу та його збуту необхідна стабільна команда спеціалістів, що люблять свою роботу. Саме тому в нас немає текучки кадрів. Кожен знає свою роботу, свої обов”язки та загальні цілі компанії.</p>
			</div>
		</div>
		<!-- END textpage__about -->
		<!-- BEGIN textpage__links -->
		<div class="textpage__links">
			<a class="textpage__link textpage__link_prev" href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i>Супутні товари</a>
			<a class="textpage__link textpage__link_next" href="#">Гарантії<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
		</div>
		<!-- END textpage__links -->
	</div>
	<!-- END wrapper -->
</div>
<!-- END textpage -->

	{% include "partials/_recomended-products.html" %}

{% endblock %}
