{% import "data/data.html" as tests %}
<!-- BEGIN footer -->
<footer class="footer" style="background-image: url(img/footer-bg.jpg);">
	<!-- BEGIN footer__inner -->
	<div class="footer__inner">
					
		<!-- BEGIN footer__column -->
		<div class="footer__column">

			<h3 class="footer__title">Навігація</h3>
			<!-- BEGIN navigation -->
			<div class="navigation">
				

				<ul class="navigation__list navigation__list_thin">
					{% for test in tests.plant_variety %}
						<li class="navigation__item">
							<a href="#" class="navigation__link">{{test.title}}</a>
						</li>
					{% endfor %}
				</ul>

				<ul class="navigation__list">
					{% for test in tests.footmenu_list1 %}
						<li class="navigation__item">
							<a href="#" class="navigation__link">{{test.title}}</a>
						</li>
					{% endfor %}
				</ul>

				<ul class="navigation__list">
					{% for test in tests.footmenu_list2 %}
						<li class="navigation__item">
							<a href="#" class="navigation__link">{{test.title}}</a>
						</li>
					{% endfor %}
				</ul>

			</div>
			<!-- END navigation -->

		</div>
		<!-- END footer__column -->

		<!-- BEGIN footer__column -->
		<div class="footer__column">

			<h3 class="footer__title">Контакти</h3>
			<!-- BEGIN footer__col -->
			<div class="footer__col">
				
				<!-- BEGIN footer__telephone telephone -->
				<div class="footer__telephone telephone">
					<ul class="telephone__numbers">{{mixins.icon('phone')}}
						<li><a class="telephone__number" href="tel:+380972296200">+38 097 229-62-00</a></li>
						<li><a class="telephone__number" href="tel:+380503522140">+38 050 352-21-40</a></li>
						<li><a class="telephone__number" href="tel:+380637272211">+38 063 727-22-11</a></li>
					</ul>
				</div>
				<!-- END footer__telephone telephone -->

				<!-- BEGIN footer__contact -->
					<a class="footer__contact footer__contact_skype" href="#">{{mixins.icon('skype')}} pitomnik_agrus</a>
				<!-- END footer__contact -->

			</div>
			<!-- END footer__col -->
			
			<!-- BEGIN footer__col -->
			<div class="footer__col">
			<!-- BEGIN footer__contact -->
				<a class="footer__contact footer__contact_mail" href="#">{{mixins.icon('mail')}} pitomnik@agrus.ua</a>
			<!-- END footer__contact -->
			</div>
			<!-- END footer__col -->
		</div>
		<!-- END footer__column -->


	</div>
	<!-- END footer__inner -->
	<div class="footer__copy">2017.Всі права захищені законом України.</div>
</footer>
<!-- END footer -->