{% import "data/data.html" as tests %}
<!-- BEGIN header -->
<header class="header">
	<!-- BEGIN header__inner -->
	<div class="header__inner">

		<!-- BEGIN header__top -->
		<div class="header__top">

			<a href="#" class="header__logo logo"><img class="logo__img" src="img/logo.png" alt="logo"></a>

			<!-- BEGIN header__telephone telephone -->
			<div class="header__telephone telephone">
				<ul class="telephone__numbers">
					<li><a class="telephone__number" href="tel:+380972296200">+38 097 229-62-00</a></li>
					<li><a class="telephone__number" href="tel:+380503522140">+38 050 352-21-40</a></li>
					<li><a class="telephone__number" href="tel:+380637272211">+38 063 727-22-11</a></li>
				</ul>

			</div>
			<!-- END header__telephone telephone -->
			<!-- BEGIN header__social-links -->
			<div class="header__social-links">
				<a href="#" class="header__social-link"><i class="fa fa-skype" aria-hidden="true"></i></a>
				<a href="#" class="header__social-link"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
			</div>
			<!-- END header__social-links -->
			<!-- BEGIN header__in -->
			<div class="header__in">

				<!-- BEGIN header__search -->
				<div class="header__search main-search">
					<input class="main-search__area" type="search" placeholder="Пошук">
					<button class="main-search__btn" type="submit">{{mixins.icon('search')}}</button>
				</div>
				<!-- END header__search -->

				<a href="#" class="header__login sign-in">Вхід</a>
				<a href="#" class="header__login sign-up">Реєстрація</a>
				<button class="primary-button menu-trigger js-menu-trigger">Меню</button>
			</div>
			<!-- END header__in -->

			{% if showCart %}
			<!-- BEGIN shopping-cart -->
			<div class="header__shopping-cart shopping-cart">

				<div class="shopping-cart__line">
					<span class="shopping-cart__text">Товарів</span>
					<span class="shopping-cart__quantity">2</span>
				</div>

				<div class="shopping-cart__line">
					<span class="shopping-cart__text">Сума</span>
					<span class="shopping-cart__quantity">345,00 грн</span>
				</div>

				<a href="#" class="shopping-cart__button">{{mixins.icon('shopping-cart')}}Замовити</a>
			</div>
			<!-- END shopping-cart -->
			{% endif %}
		</div>
		<!-- END header__top -->


		<!-- BEGIN header__menu -->
		<div class="header__menu">
			<ul class="menu js-menu">
					<li class="menu__item">
						<a href="#" class="menu__link" style="background-image: url(img/home.png);"></a>
					</li>

				{% for test in tests.menu_list %}

					<li class="menu__item">
						<a href="#" class="menu__link">{{test.title}}</a>
					</li>

				{% endfor %}
			</ul>
		</div>
		<!-- END header__menu -->

		<!-- BEGIN header__info -->
		<div class="header__info" style="background-image:  url('img/header-bg.jpg')">
			<h1 class="header__title">Розсадник декоративних рослин №1</h1>
			<div class="header__text">Вирощуємо листяні, хвойні дерева і чагарники, а також щеплені форми дерев.</div>
		</div>
		<!-- END header__info -->

		<!-- BEGIN plant-variety -->
		<div class="plant-variety">
			<ul class="plant-variety__list">
				
				{% for test in tests.plant_variety %}

					<li class="plant-variety__item">
						<a href="#" class="plant-variety__link">{{test.title}}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<!-- END plant-variety -->

	</div>
	<!-- END header__inner -->
</header>
<!-- END header -->