<!-- BEGIN sidebar -->
<div class="sidebar">
	<a href="#" class="sale">РОЗПРОДАЖ{{mixins.icon('arrow-right')}}</a>
	<a href="#" class="bestsellers">Хіти продажів</a>

	<!-- BEGIN filter -->
	<div class="filter js-filter">
		<h3 class="filter__name js-filter__button">Назва категорії{{mixins.icon('plus')}}</h3>
		<!-- BEGIN filter__dropdown -->
		<div class="filter__dropdown js-filter__dropdown">

				<label class="filter__label js-filter__label">
					<input type="checkbox" class="filter__checkbox js-filter__checkbox">Паркові   (35)
				</label>

				<label class="filter__label js-filter__label">
					<input type="checkbox" class="filter__checkbox js-filter__checkbox">Алейні   (17)
				</label>

				<label class="filter__label js-filter__label">
					<input type="checkbox" class="filter__checkbox js-filter__checkbox">Міські   (45)
				</label>

				<label class="filter__label js-filter__label">
					<input type="checkbox" class="filter__checkbox js-filter__checkbox">Бордюрні  (34)
				</label>

				<label class="filter__label js-filter__label">
					<input type="checkbox" class="filter__checkbox js-filter__checkbox">Для огорожі   (29)
				</label>

				<label class="filter__label js-filter__label">
					<input type="checkbox" class="filter__checkbox js-filter__checkbox">Для аеропортів   (63)
				</label>

		</div>
		<!-- END filter__dropdown -->

	</div>
	<!-- END filter -->



	<!-- BEGIN filter -->
	<div class="filter js-filter">
		<h3 class="filter__name js-filter__button">Назва категорії{{mixins.icon('plus')}}</h3>
		<!-- BEGIN filter__dropdown -->
		<div class="filter__dropdown js-filter__dropdown">

				<label class="filter__label js-filter__label">
					<input type="checkbox" class="filter__checkbox js-filter__checkbox">Квітучі  (35)
				</label>

				<label class="filter__label js-filter__label">
					<input type="checkbox" class="filter__checkbox js-filter__checkbox">Плакучі  (17)
				</label>

				<label class="filter__label js-filter__label">
					<input type="checkbox" class="filter__checkbox js-filter__checkbox">Вітрозахисні   (45)
				</label>

				<label class="filter__label js-filter__label">
					<input type="checkbox" class="filter__checkbox js-filter__checkbox">Грунтопокривні  (34)
				</label>

				<label class="filter__label js-filter__label">
					<input type="checkbox" class="filter__checkbox js-filter__checkbox">Протирозійні   (29)
				</label>

				<label class="filter__label js-filter__label">
					<input type="checkbox" class="filter__checkbox js-filter__checkbox">Рокарні   (63)
				</label>

				<label class="filter__label js-filter__label">
					<input type="checkbox" class="filter__checkbox js-filter__checkbox">Лікарські   (63)
				</label>

				<label class="filter__label js-filter__label">
					<input type="checkbox" class="filter__checkbox js-filter__checkbox">Їстівні   (63)
				</label>

		</div>
		<!-- END filter__dropdown -->

	</div>
	<!-- END filter -->



</div>
<!-- END sidebar -->