{% import "data/filters.html" as tests %}
<!-- BEGIN sidebar -->
<div class="sidebar">
	<a href="#" class="sale">РОЗПРОДАЖ{{mixins.icon('arrow-right')}}</a>
	<a href="#" class="bestsellers">Хіти продажів</a>

	<!-- BEGIN filter -->
	<div class="filter js-filter">
		<h3 class="filter__name js-filter__button">Назва категорії{{mixins.icon('plus')}}</h3>
		<!-- BEGIN filter__dropdown -->
		<div class="filter__dropdown js-filter__dropdown">
			{% for test in tests.filter1 %}
				<label class="filter__label js-filter__label">
					<input type="checkbox" class="filter__checkbox js-filter__checkbox">{{test.title}}
				</label>
			{% endfor %}
		</div>
		<!-- END filter__dropdown -->
	</div>
	<!-- END filter -->

	<!-- BEGIN filter -->
	<div class="filter js-filter">
		<h3 class="filter__name js-filter__button">Назва категорії{{mixins.icon('plus')}}</h3>
		<!-- BEGIN filter__dropdown -->
		<div class="filter__dropdown js-filter__dropdown">
			{% for test in tests.filter2 %}
				<label class="filter__label js-filter__label">
					<input type="checkbox" class="filter__checkbox js-filter__checkbox">{{test.title}}
				</label>
			{% endfor %}
		</div>
		<!-- END filter__dropdown -->
	</div>
	<!-- END filter -->

	<!-- BEGIN filter -->
	<div class="filter js-filter">
		<h3 class="filter__name js-filter__button">Темп росту{{mixins.icon('plus')}}</h3>
		<!-- BEGIN filter__dropdown -->
		<div class="filter__dropdown js-filter__dropdown">
			{% for test in tests.filter3 %}
				<label class="filter__label js-filter__label">
					<input type="checkbox" class="filter__checkbox js-filter__checkbox">{{test.title}}
				</label>
			{% endfor %}
		</div>
		<!-- END filter__dropdown -->
	</div>
	<!-- END filter -->

	<!-- BEGIN filter -->
	<div class="filter js-filter">
		<h3 class="filter__name js-filter__button">Сезон цвітіння{{mixins.icon('plus')}}</h3>
		<!-- BEGIN filter__dropdown -->
		<div class="filter__dropdown js-filter__dropdown">
			{% for test in tests.filter4 %}
				<label class="filter__label js-filter__label">
					<input type="checkbox" class="filter__checkbox js-filter__checkbox">{{test.title}}
				</label>
			{% endfor %}
		</div>
		<!-- END filter__dropdown -->
	</div>
	<!-- END filter -->




</div>
<!-- END sidebar -->