{% set 
menu_list = [
	{
		title: 'Про розсадник'
	},
	{
		title: 'Новини'
	},
	{
		title: 'Статті'
	},
	{
		title: 'Відео'
	},
	{
		title: 'Книги'
	},
	{
		title: 'Супутні товари'
	},
	{
		title: 'Оплата і доставка'
	},
	{
		title: 'Гарантії'
	},
	{
		title: 'Представництва'
	},
	{
		title: 'Контакти'
	}
] 
%}

{% set 
plant_variety = [
	{
		title: 'Широколисті'
	},
	{
		title: 'Хвойні'
	},
	{
		title: 'Дерева'
	},
	{
		title: 'Кущі'
	},
	{
		title: 'Ліани'
	},
	{
		title: 'Квітучі'
	},
	{
		title: 'Вічнозелені'
	},
	{
		title: 'Багаторічні'
	}
] 
%}

{% set 
footmenu_list1 = [
	{
		title: 'Про розсадник'
	},
	{
		title: 'Новини'
	},
	{
		title: 'Статті'
	},
	{
		title: 'Відео'
	},
	{
		title: 'Книги'
	},
	{
		title: 'Супутні товари'
	},
	{
		title: 'Оплата і доставка'
	},
	{
		title: 'Гарантії'
	}
] 
%}

{% set 
footmenu_list2 = [
	{
		title: 'Представництва'
	},
	{
		title: 'Контакти'
	},
	{
		title: 'Розпродаж'
	},
	{
		title: 'Хіти продажів'
	},
	{
		title: 'Нові надходження сезону'
	}
] 
%}