{% set 
filter1 = [
	{
		title: 'Паркові   (35)',
		data_title: 'Паркові'
	},
	{
		title: 'Алейні   (17)',
		data_title: 'Алейні'
	},
	{
		title: 'Міські   (45)',
		data_title: 'Міські'
	},
	{
		title: 'Бордюрні  (34)',
		data_title: 'Бордюрні'
	},
	{
		title: 'Для огорожі   (29)',
		data_title: 'Для огорожі'
	},
	{
		title: 'Для аеропортів   (63)',
		data_title: 'Для аеропортів'
	}
] 
%}

{% set 
filter2 = [
	{
		title: 'Квітучі  (35)',
		data_title: 'Квітучі'
	},
	{
		title: 'Плакучі  (17)',
		data_title: 'Плакучі'
	},
	{
		title: 'Вітрозахисні   (45)',
		data_title: 'Вітрозахисні'
	},
	{
		title: 'Грунтопокривні  (34)',
		data_title: 'Грунтопокривні'
	},
	{
		title: 'Протирозійні   (29)',
		data_title: 'Протирозійні'
	},
	{
		title: 'Рокарні   (63)',
		data_title: 'Рокарні'
	},
	{
		title: 'Лікарські   (63)',
		data_title: 'Лікарські'
	},
	{
		title: 'Їстівні   (63)',
		data_title: 'Їстівні'
	}
] 
%}

{% set 
filter3 = [
	{
		title: 'Повільний   (35)'
	},
	{
		title: 'Середній   (17)'
	},
	{
		title: 'Швидкий  (45)'
	}
] 
%}


{% set 
filter4 = [
	{
		title: 'Весна  (35)'
	},
	{
		title: 'Літо   (17)'
	},
	{
		title: 'Осінь   (45)'
	},
	{
		title: 'Зима  (34)'
	}
] 
%}

