{% set 
filter1 = [
	{
		title: 'Паркові   (35)'
	},
	{
		title: 'Алейні   (17)'
	},
	{
		title: 'Міські   (45)'
	},
	{
		title: 'Бордюрні  (34)'
	},
	{
		title: 'Для огорожі   (29)'
	},
	{
		title: 'Для аеропортів   (63)'
	}
] 
%}

{% set 
filter2 = [
	{
		title: 'Паркові   (35)'
	},
	{
		title: 'Алейні   (17)'
	},
	{
		title: 'Міські   (45)'
	},
	{
		title: 'Бордюрні  (34)'
	},
	{
		title: 'Для огорожі   (29)'
	},
	{
		title: 'Для аеропортів   (63)'
	}
] 
%}

{% set 
filter3 = [
	{
		title: 'Повільний   (35)'
	},
	{
		title: 'Середній   (17)'
	},
	{
		title: 'Швидкий  (45)'
	}
] 
%}


{% set 
filter4 = [
	{
		title: 'Весна  (35)'
	},
	{
		title: 'Літо   (17)'
	},
	{
		title: 'Осінь   (45)'
	},
	{
		title: 'Зима  (34)'
	}
] 
%}

